@{
    ViewBag.Title = "Page";
    if (ViewBag.CallingForm1 == "index")
    {
    }
    else
    {
        <ul class="breadcrumb">
            <li><a href="#">@ViewBag.CallingForm</a></li>
            <li><a href="@ViewBag.CallingViewPage" class="active">@ViewBag.CallingForm1</a></li>
            @if (@ViewBag.CallingForm2 != null)
            {
                <li><a href="#" class="active">@ViewBag.CallingForm2</a></li>
            }
        </ul>
    }
}
<link href="~/Content/built_in/assets/plugins/clock-picker/bootstrap-clockpicker.css" rel="stylesheet" />
<style>
    .time_group {
        display: flex;
        align-items: center;
    }

    .ui-timepicker-wrapper {
        width: 140px;
    }

    .input-group-addon, .input-group-btn {
        vertical-align: top !important;
    }

</style>
<div class="panel panel-transparent">
    <div class="panel-heading">
        <div class="panel-title">
            Un-Schedule Appointment
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12 form-horizontal xl-mlr10" ng-controller="appointmentController">
                <form name="unScheduleForm" ng-init="loadDropdownsUnschedule()">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 xl-mb30">
                        <input class="form-control in-ctrl" ng-model="appointment.AppointmentID" style="display: none;" type="text" value="">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 xl-mb30">
                                <div class="form-group">
                                    <div class="form-inner13">
                                        <label class="left-col control-label">Appointment Date</label>
                                        <div class="right-col">
                                            <div class="input-group date">
                                                <input type="text" class="form-control date_picker1" ng-model="appointment.AppointmentDate" readonly />
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                    <div class="form-inner13">
                                        <label class="left-col control-label">Appointment Time</label>
                                        <div class="right-col width-350">
                                            <div class="input-group bootstrap-timepicker">
                                                <input class="form-control " ng-model="appointment.AppointmentTime" ng-model-onblur clockpicker required />
                                                <span class="input-group-addon"><i class="pg-clock"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@


                                <div class="div_row" style="display: flex;">

                                    @*<div class="div_col">
                                        <div class="form-group">
                                            <div class="form-inner13">
                                                <label class="left-col control-label">Appointment Time</label>

                                            </div>
                                        </div>
                                    </div>*@
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <div class="form-inner13">
                                                    <label class="left-col control-label">Appointment Time</label>
                                                    <div class="right-col">
                                                        <div class="input-group bootstrap-timepicker">
                                                            <input class="form-control " ng-model="appointment.AppointmentTime" ng-model-onblur clockpicker required placeholder="From" />
                                                            <span class="input-group-addon"><i class="pg-clock"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group" style="margin-left: -24px;">
                                                <div class="form-inner13">
                                                    <label class="left-col control-label">End Time</label>
                                                    <div class="right-col">
                                                        <div class="input-group bootstrap-timepicker">
                                                            <input class="form-control " ng-model="appointment.EndTime" ng-model-onblur clockpicker placeholder="To" />
                                                            <span class="input-group-addon"><i class="pg-clock"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>







                                <div class="form-group">
                                    <div class="form-inner13">
                                        <label class="left-col control-label">Visitor Name</label>
                                        <div class="right-col">
                                            <input type="text" class="form-control" ng-model="appointment.VisitorName" required />
                                        </div>
                                        <div class="clr"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-inner13">
                                        <label class="left-col control-label">Visitor Mobile Number</label>
                                        <div class="right-col">
                                            <input type="text" class="form-control IsNumber" ng-model="appointment.VisitorMobile" required />
                                        </div>
                                        <div class="clr"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-inner13">
                                        <label class="left-col control-label">Company Name</label>
                                        <div class="right-col">
                                            <input type="text" class="form-control" ng-model="appointment.CompanyName" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-inner13">
                                        <label class="left-col control-label">Department</label>
                                        <div class="right-col">
                                            <select2 style="width:100%;" ng-model="appointment.DepartmentID" s2-options="dep.DepartmentID as dep.DepartmentName for dep in departmentList"
                                                     required ng-change="getDepWiseDropdownEmployee()" placeholder="--Select Department--">
                                            </select2>
                                        </div>
                                    </div>
                                </div>

                                @*Multiple Employee*@
                                <div class="form-group" ng-repeat="emp in multiEmployeeList">
                                    <div class="form-inner13">
                                        <label class="left-col control-label">Employee</label>
                                        <div class="right-col">
                                            @*<div class="input-group width-350">*@
                                            <select2 style="width:  100%;" ng-model="emp.EmployeeID" s2-options="emp.EmployeeID as emp.EmpName for emp in depEmployeeList"
                                                     required disabled="disabled" placeholder="--Select Employee--">
                                            </select2>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-inner13">
                                        <label class="left-col control-label">Employee</label>
                                        <div class="right-col">
                                            @*<div class="input-group width-350">*@
                                            <select2 style="width: 100%;" ng-model="appointment.EmployeeID" s2-options="emp.EmployeeID as emp.EmpName for emp in depEmployeeList"
                                                     required ng-change="getDepWiseFloor()" placeholder="--Select Employee--">
                                            </select2>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="form-inner13">
                                        <label class="left-col control-label">Purpose</label>
                                        <div class="right-col">
                                            <input type="text" class="form-control" ng-model="appointment.Purpose" />
                                        </div>
                                    </div>
                                </div>



                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 40px; text-align: right">
                                    <div class="form-group">
                                        <div class="form-inner12">
                                            <label for="fname" class="left-col control-label"></label>
                                            <div class="right-col mt-org1">
                                                <button type="button" class="btn btn-success custom-btn1 " name="Submit" ng-click="saveUnScheduleAppointment()" ng-disabled="disableSub">Submit</button>
                                                <button type="button" class="btn btn-default custom-btn1" name="Clear" ng-click="clearData()"><i class="pg-close"></i> Clear</button>
                                            </div>
                                            <div class="clr"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 xl-mb30">
                                <div class="form-group">
                                    <div class="form-inner13">
                                        <label class="left-col control-label">Floor</label>
                                        <div class="right-col">
                                            <div class="checkbox_content" ng-repeat="emp in noOfFloorList">
                                                <div class="checkbox check-success checkbox-circle">
                                                    <input type="checkbox" id="checkbox{{emp.id}}" ng-model="emp.FloorID" value="emp.FloorID" ng-change="checkedFloorID(emp.id)">
                                                    <label for="checkbox{{emp.id}}">{{emp.label}}</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<script src="~/Content/built_in/assets/plugins/clock-picker/bootstrap-clockpicker.js"></script>
<script type="text/javascript">
    var aInput = $('#ATime');
    var rInput = $('#RTime');
    aInput.clockpicker({
        autoclose: true
    });
    rInput.clockpicker({
        autoclose: true
    });


    $(".IsNumber").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) ||
            // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });

    $(".date_picker1").datepicker({
        changeMonth: true,
        autoclose: true,
        changeYear: true
    });
</script>

