@model DAL.db.UserGroup
@{
    ViewBag.Title = "User Group Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section section_top
{
    <link href="~/Content/built_in/assets/plugins/bootstrap-select2/select2.css" rel="stylesheet" />
    <link href="~/Content/built_in/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
}

 <div class="container-fluid container-fixed-lg">
    <div class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-title">
                User Group Information
            </div>
        </div>

        <div class="panel-body">
            @using (Html.BeginForm("usergroup_create", "security", FormMethod.Post, new { @id = "form-work", @class = "form-horizontal xl-mlr10", role = "form", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 xl-mb30">
                        <div class="form-group">
                            <div class="form-inner12">
                                <label for="IdOrganization" class="left-col control-label">User Group Name</label>
                                <div class="right-col">
                                    @Html.HiddenFor(model => model.UserGroupId)
                                    @Html.TextBoxFor(model => model.UserGroupHead, new { @class = "form-control", @placeholder = "User Group Name" })
                                    <span class="ibserror" id="Err_UserGroupHead">User Group Head is required.</span>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 xl-mb30">
                        <div class="form-group" role="form">
                            <div class="form-inner12 form-group form-group-default form-group-default-select2">
                                <label for="IdOrganization" class="left-col control-label">Access Area</label>
                                <select class="full-width" data-init-plugin="select2" multiple name="cboAccessArea" id="cboAccessArea">
                                    <option value="Select Access Area" @(ViewBag.cboAccessArea == "Select Access Area" ? "selected" : String.Empty)>>> Select</option>
                                    <option value="ALL" @(ViewBag.cboAccessArea == "ALL" ? "selected" : String.Empty)>ALL</option>
                                    <option value="ACCOUNTING" @(ViewBag.cboAccessArea == "ACCOUNTING" ? "selected" : String.Empty)>ACCOUNTING</option>
                                    <option value="CRM" @(ViewBag.cboAccessArea == "CRM" ? "selected" : String.Empty)>CRM</option>
                                    <option value="PURCHASE" @(ViewBag.cboAccessArea == "PURCHASE" ? "selected" : String.Empty)>PURCHASE</option>
                                    <option value="SALES" @(ViewBag.cboAccessArea == "SALES" ? "selected" : String.Empty)>SALES</option>
                                    <option value="INVENTORY" @(ViewBag.cboAccessArea == "INVENTORY" ? "selected" : String.Empty)>INVENTORY</option>
                                    <option value="MANUFACTURE" @(ViewBag.cboAccessArea == "MANUFACTURE" ? "selected" : String.Empty)>MANUFACTURE</option>
                                    <option value="REPORTS" @(ViewBag.cboAccessArea == "REPORTS" ? "selected" : String.Empty)>REPORTS</option>
                                    <option value="HRM" @(ViewBag.cboAccessArea == "HRM" ? "selected" : String.Empty)>HRM</option>
                                    <option value="SETTINGS" @(ViewBag.cboAccessArea == "SETTINGS" ? "selected" : String.Empty)>SETTINGS</option>
                                    <option value="DATABACKUP" @(ViewBag.cboAccessArea == "DATABACKUP" ? "selected" : String.Empty)>DATA BACKUP</option>
                                </select>
                            </div>
                        </div>
                    </div> 
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 frm-manage-pad2">
                        <div class="form-group">
                            <div class="form-inner13">
                                <label for="fname" class="left-col control-label"></label>
                                <div class="right-col mt-org1">
                                    <button class="btn btn-success custom-btn1 @ViewBag.btnVsbSubmit" name="Submit" type="button" id="btnSubmit">Submit</button>
                                    <button class="btn btn-success custom-btn1  @ViewBag.btnVsbSave" name="Edit" type="button" id="btnSave">Save</button>
                                    <div class="btn btn-default custom-btn1" id="btnClear"><i class="pg-close"></i> Clear</div>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

 <div id="target"></div>

@section section_footer
{
    <script src="~/Content/built_in/assets/plugins/bootstrap-select2/select2.min.js"></script>
    <script src="~/Content/built_in/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

<script>

    $(document).ready(function () {
        $("select").select2({
            dropdownAutoWidth: true
        });

        $("#btnClear").click(function () {
            FrmClear(true); 
        });

        $("#btnSubmit").click(function () { 
            if (IsFrmValid()) {

                var AccessArea = []; 
                $.each($("#cboAccessArea option:selected"), function () {
                    AccessArea.push($(this).val());
                });  

                var data = {
                    UserGroupHead: $("#UserGroupHead").val() 
                };

                $.ajax({
                    url: '@Url.Action("FxUserGroupSubmit", "security")',
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ objUserGroup: data, sAccessArea: AccessArea }),
                    async: false,
                    processData: false,
                    cache: false,
                    success: function (data) {
                        if (data.isCompleted == true) {
                            ShowOpMessage("Submit", true, "FrmClear");
                            $('.jqiclose').html('');
                        }
                        else {
                            $.each(data.Errors, function (key) {
                                if (data.Errors[key].Value != null) {
                                    $("#Err_" + data.Errors[key].Key.replace('.', '')).show();
                                    $("#Err_" + data.Errors[key].Key.replace('.', '')).html(data.Errors[key].Value);
                                }
                            });
                        }
                    },
                    error: function (xhr) {
                        ShowOpMessage("Submit", false, "");
                    }
                });
            };
        });


        // Cost Center Save Button
        $("#btnSave").click(function () {
            if (IsFrmValid()) {
                var data = {
                    UserGroupId: $("#UserGroupId").val(),
                    UserGroupHead: $("#UserGroupHead").val().trim(),
                    AccessArea: $("#cboAccessArea").val().trim()
                };
                console.log(data);

                $.ajax({
                    url: '@Url.Action("FxUserGroupSubmit", "security")',
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),
                    async: false,
                    processData: false,
                    cache: false,
                    success: function (data) {
                        if (data.isCompleted == true) {
                            ShowOpMessage("Save", true, "FrmClear");
                            $('.jqiclose').html('');
                        }
                        else {
                            $.each(data.Errors, function (key) {
                                if (data.Errors[key].Value != null) {
                                    $("#Err_" + data.Errors[key].Key.replace('.', '')).show();
                                    $("#Err_" + data.Errors[key].Key.replace('.', '')).html(data.Errors[key].Value);
                                }
                            });
                        }
                    },
                    error: function (xhr) {
                        ShowOpMessage("Save", false, "");
                    }
                });
            };
        });

    });


    function IsFrmValid() {
        var isValidItem = true;

        if ($('#UserGroupHead').val().trim() == '') {
            isValidItem = false;
            $('#Err_UserGroupHead').show();
        }
        else {
            $('#Err_UserGroupHead').hide();
        }

        //if ($('#cboAccessArea').val() == '') {
        //    isValidItem = false;
        //    $('#Err_AccessArea').show();
        //}
        //else {
        //    $('#Err_AccessArea').hide();
        //}

        if (!isValidItem) {
            ShowWarningMsg("Please fill the mandatory fields.");
        }

        return isValidItem;
    }


    function FrmClear(v) {
        if (v) {
            $('#UserGroupId').val('');
            $('#UserGroupHead').val('');

            $('#btnSubmit').removeClass("visibility: hidden");
            $('#btnSubmit').show();
            $('#btnSave').hide();

            $('.ibserror').hide();
            window.history.pushState("", "", "/security/usergroup_create");
        }
    }
</script>
 
    }
