@model DAL.db.CosTCentreTab
@{
    ViewBag.Title = "Cost Center Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section section_top
{
    <link href="~/Content/built_in/assets/plugins/bootstrap-select2/select2.css" rel="stylesheet" />
    <link href="~/Content/built_in/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
}  

<div class="container-fluid container-fixed-lg">
    <div class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-title">
                Cost Center Information
            </div>
        </div>

        <div class="panel-body">
            @using (Html.BeginForm("cost_center_create", "mstr_basic", FormMethod.Post, new { @id = "form-work", @class = "form-horizontal xl-mlr10", role = "form", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                <div style="margin-left:0px; color:#ff6a00; font-size:16px; margin-bottom:10px;" class="viewbag-validation">@ViewBag.SuccessMsg</div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 xl-mb30">
                        <div class="form-group">
                            <div class="form-inner13">
                                <label for="IdCostCenter" class="left-col control-label">Cost Center Id</label>
                                <div class="right-col">
                                    @Html.TextBoxFor(model => model.CosTCentreId, new { @maxlength = 4, @class = "form-control IsNumber", @placeholder = "Cost Center Id", @disabled = "disabled" })
                                    <span class="ibserror" id="Err_CosTCentreId">Cost Centre Id is required.</span>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 xl-mb30">
                        <div class="form-group">
                            <div class="form-inner13">
                                <label for="CostCenter" class="left-col control-label">Cost Center</label>
                                <div class="right-col">
                                    @Html.TextBoxFor(model => model.CosTCentre, new { @class = "form-control", @placeholder = "Cost Center" })
                                    <span class="ibserror" id="Err_CosTCentre">Cost Center is required.</span>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 xl-mb30">
                        <div class="form-group">
                            <div class="form-inner13">
                                <label for="IdBranch" class="left-col control-label">Branch</label>
                                <div class="right-col">
                                    <div class="ibs-pos-rel">
                                        @Html.DropDownList("BranchId", (SelectList)ViewData["CboBranchCode"], ">> Select Item ", new { @class = "full-width cmbo", data_init_plugin = "select2" })
                                    </div>
                                    <span class="ibserror" id="Err_BranchCode">Branch Name is required.</span>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 xl-mb30">
                        <div class="form-group">
                            <div class="form-inner13">
                                <label class="left-col control-label">Type</label>
                                <div class="right-col">
                                    <div class="ibs-pos-rel">
                                        <select class="full-width" data-init-plugin="select2" name="cboCostCenterType" id="cboCostCenterType" disabled="disabled">
                                            <option value=""> >> Select</option>
                                            <option value="0" @(ViewBag.cboCostCenterType == "0" ? "selected" : String.Empty)>Cost Center</option>
                                            <option value="1" @(ViewBag.cboCostCenterType == "1" ? "selected" : String.Empty)>Store / Warehouse</option>
                                        </select>
                                    </div>
                                    <span class="ibserror" id="Err_CostCenterType">Type is required.</span>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 xl-mb30">
                        <div class="form-group">
                            <div class="form-inner13">
                                <label class="left-col control-label">Working Area</label>
                                <div class="right-col">
                                    <div class="ibs-pos-rel">
                                        <select class="full-width" data-init-plugin="select2" name="cboTransactionMode" id="cboTransactionMode" data-show-subtext="true" data-live-search="true">
                                            <option value=""> >> Select</option>
                                            <option value="0" @(ViewBag.cboTransactionMode == "0" ? "selected" : String.Empty)>All</option>
                                            <option value="1" @(ViewBag.cboTransactionMode == "1" ? "selected" : String.Empty)>Accounting</option>
                                            <option value="2" @(ViewBag.cboTransactionMode == "2" ? "selected" : String.Empty)>Inventory</option>
                                            <option value="3" @(ViewBag.cboTransactionMode == "3" ? "selected" : String.Empty)>Sales</option>
                                            <option value="4" @(ViewBag.cboTransactionMode == "4" ? "selected" : String.Empty)>Manufacturing</option>
                                            <option value="5" @(ViewBag.cboTransactionMode == "5" ? "selected" : String.Empty)>Inventory & Manufacturing</option>
                                        </select>
                                    </div>
                                    <span class="ibserror" id="Err_TransactionMode">Transaction Mode is required.</span>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 xl-mb30">
                        <div class="form-group">
                            <div class="form-inner13">
                                <label class="left-col control-label">Status</label>
                                <div class="right-col">
                                    <div class="ibs-pos-rel">
                                        @*style="pointer-events:@ViewBag.Status;"*@
                                        @*<select class="full-width" data-init-plugin="select2" name="CosTCentreStatus" id="CosTCentreStatus" disabled="disabled">
                                                <option value="0" @(ViewBag.CosTCentreStatus == "0" ? "selected" : String.Empty)>Active</option>
                                                <option value="1" @(ViewBag.CosTCentreStatus == "1" ? "selected" : String.Empty)>Inactive</option>
                                            </select>*@
                                        @Html.DropDownList("CosTCentreStatus", (SelectList)ViewData["cboStatus"], new { @class = "full-width", @id = "CosTCentreStatus", data_init_plugin = "select2", @disabled = "disabled" })
                                    </div>
                                    <span class="ibserror" id="Err_CosTCentreStatus">Status is required.</span>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 frm-manage-pad2">
                        <div class="form-group">
                            <div class="form-inner13">
                                <label for="fname" class="left-col control-label"></label>
                                <div class="right-col mt-org1">
                                    <button class="btn btn-success custom-btn1 @ViewBag.btnVsbSubmit" name="Submit" type="button" id="btnSubmit">Submit</button>
                                    <button class="btn btn-success custom-btn1  @ViewBag.btnVsbSave" name="Edit" type="button" id="btnSave">Save</button>
                                    <div class="btn btn-default custom-btn1" id="btnClear"><i class="pg-close"></i> Clear</div>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

@section section_footer
{
    <script src="~/Content/built_in/assets/plugins/bootstrap-select2/select2.min.js"></script>
    <script src="~/Content/built_in/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

<script>

    $(document).ready(function () {
        $("select").select2({
            dropdownAutoWidth: true
        });

        //Status Disable false
        if ($("#Id").val() > 0) {
            $("#CosTCentreStatus").prop("disabled", false);
        }

        //CosT Centre Id characters Validation
        $("#CosTCentreId").keypress(function () {
            $('#Err_CosTCentreId').show();
            $("#Err_CosTCentreId").html("Cost Centre Id must be 4 characters.");
        });
        
        //CosT Centre Id characters Validation
        $("#CosTCentreId").blur(function () {
            var CosTCentreId = $('#CosTCentreId').val().length;
            if (CosTCentreId != 4) {
                $('#Err_CosTCentreId').show();
                $("#Err_CosTCentreId").html("Cost Centre Id must be 4 characters.");
            }
        });


        $("#btnClear").click(function () {
            FrmClear(true)
            $('.active').removeClass('active');
            $("ul.nav-tabs li:nth-child(3)").addClass('active');
            $('#slide3').addClass('active');
        });

        $("#btnSubmit").click(function () {
            if (IsFrmValid()) {
                var data = {
                    CosTCentreId: $("#CosTCentreId").val().trim(),
                    CosTCentre: $("#CosTCentre").val().trim(),
                    BranchId: $("#BranchId").val(),
                    StoreUpdateMode: 0,
                    CosTCentreType: $("#cboCostCenterType").val(),
                    TransactionMode: $("#cboTransactionMode").val(),
                    CosTCentreStatus: $("#CosTCentreStatus").val()
                };

                console.log(data);
                $.ajax({
                    url: '@Url.Action("FxCostCenterSubmit", "mstr_basic")',
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),
                    async: false,
                    processData: false,
                    cache: false,
                    success: function (data) {
                        if (data.isCompleted == true) {
                            ShowOpMessage("Submit", true, "FrmClear");
                            $('.jqiclose').html('');
                        }
                        else {
                            if (data.sMessage != null) { 
                                ShowMessageBox_OK(data.sMessage,"Not enough permission","");
                            }


                            //$.each(data.Errors, function (key) {
                            //    if (data.Errors[key].Value != null) {
                            //        $("#Err_" + data.Errors[key].Key).show();
                            //        $("#Err_" + data.Errors[key].Key).html(data.Errors[key].Value);
                            //    }
                            //});
                            $.each(data.Errors, function (key) {
                                if (data.Errors[key].Value != null) {
                                    $("#Err_" + data.Errors[key].Key.replace('.', '')).show();
                                    $("#Err_" + data.Errors[key].Key.replace('.', '')).html(data.Errors[key].Value);
                                }
                            });

                        }
                    },
                    error: function (xhr) {
                        ShowOpMessage("Submit", false, "");
                    }
                });
            };
        });


        // Cost Center Save Button
        $("#btnSave").click(function () {
            if (IsFrmValid()) {
                var data = {
                    Id: $("#Id").val(),
                    CosTCentreId: $("#CosTCentreId").val().trim(),
                    CosTCentre: $("#CosTCentre").val().trim(),
                    BranchId: $("#BranchId").val(),
                    StoreUpdateMode: 0,
                    CosTCentreType: $("#cboCostCenterType").val(),
                    TransactionMode: $("#cboTransactionMode").val(),
                    CosTCentreStatus: $("#CosTCentreStatus").val()
                };
                console.log(data);

                $.ajax({
                    url: '@Url.Action("FxCostCenterSubmit", "mstr_basic")',
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),
                    async: false,
                    processData: false,
                    cache: false,
                    success: function (data) {
                        if (data.isCompleted == true) {
                            ShowOpMessage("Save", true, "FrmClear");
                            $('.jqiclose').html('');
                        }
                        else {
                            $.each(data.Errors, function (key) {
                                if (data.Errors[key].Value != null) {
                                    $("#Err_" + data.Errors[key].Key.replace('.', '')).show();
                                    $("#Err_" + data.Errors[key].Key.replace('.', '')).html(data.Errors[key].Value);
                                }
                            });
                        }
                    },
                    error: function (xhr) {
                        ShowOpMessage("Save", false, "");
                    }
                });
            };
        });

    });


    function IsFrmValid() {
        var isValidItem = true;

        //if ($('#CosTCentreId').val().trim() == '') {
        //    isValidItem = false;
        //    $('#Err_CosTCentreId').show();
        //}
        //else {
        //    $('#Err_CosTCentreId').next('.ibserror').hide();
        //}

        if ($('#CosTCentre').val().trim() == '') {
            isValidItem = false;
            $('#Err_CosTCentre').show();
        }
        else {
            $('#Err_CosTCentre').next('.ibserror').hide();
        }

        if ($('#BranchId').val() == '') {
            isValidItem = false;
            $('#Err_BranchCode').show();
        }
        else {
            $('#Err_BranchCode').hide();
        }

        if ($('#cboCostCenterType').val() == '') {
            isValidItem = false;
            $('#Err_CostCenterType').show();
        }
        else {
            $('#Err_CostCenterType').hide();
        }

        if ($('#cboTransactionMode').val() == '') {
            isValidItem = false;
            $('#Err_TransactionMode').show();
        }
        else {
            $('#Err_TransactionMode').hide();
        }

        if ($('#CosTCentreStatus').val() == '') {
            isValidItem = false;
            $('#Err_CosTCentreStatus').show();
        }
        else {
            $('#Err_CostCenterStatus').hide();
        }

        if (!isValidItem) {
            ShowWarningMsg("Please fill the mandatory fields.");
        }

        return isValidItem;
    }


    function FrmClear(v) {
        if (v) {
            $('#Id').val('');
            $('#CosTCentreId').val('');
            $('#CosTCentre').val('');
            $('#BranchId').val('').trigger("change");
            $('#cboCostCenterType').val('0').trigger("change");
            $('#cboTransactionMode').val('').trigger("change");
            $('#CosTCentreStatus').val('0').trigger("change");
            $("#CosTCentreStatus").prop("disabled", true); 
            $('#btnSubmit').removeClass("visibility: hidden");
            $('#btnSubmit').show();
            $('#btnSave').hide();
            $('#btnSubmit').text('Submit');
            $('.ibserror').hide();
            window.history.pushState("", "", "/mstr_basic/cost_center_create");
        }
    }
</script>

    }





