@{
    ViewBag.Title = "Reset Password";
    if (ViewBag.CallingForm1 == "index")
    {
    }
    else
    {
        <ul class="breadcrumb">
            <li><a href="#">@ViewBag.CallingForm</a></li>
            <li><a href="@ViewBag.CallingViewPage" class="active">@ViewBag.CallingForm1</a></li>
            @if (@ViewBag.CallingForm2 != null)
            {
                <li><a href="#" class="active">@ViewBag.CallingForm2</a></li>
            }
        </ul>
    }
}
<div class="panel panel-transparent">
    <div class="panel-heading">
        <div class="panel-title">
            Reset Password
        </div>
    </div>

    <div class="panel-body" ng-controller="changePasswordController">
        <div class="row form-horizontal xl-mlr10">
            <form name="AdminChangePasswordForm">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 xl-mb30">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 xl-mb30">                           
                            <div class="form-group">
                                <div class="form-inner13">
                                    <label for="Name" class="left-col control-label">User Name</label>
                                    <div class="right-col">
                                        <input type="text" class="form-control " ng-model="changePassword.UserName" placeholder="User Name" ng-keydown="checkKeyDown1($event)" ng-keyup="checkKeyUp1($event)" ng-change="searchUserName()" />
                                        <ul class="suggestions-list">
                                            <li ng-repeat="suggestion1 in suggestions1 track by $index" ng-class="(active : selectedIndex1 === $index)" ng-click="AssignValueAndHide1($index)">{{suggestion1}}</li>
                                        </ul>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-inner13">
                                    <label class="left-col control-label">New Password</label>
                                    <div class="right-col">
                                        <input type="password" class="form-control " ng-model="changePassword.NewPassword" ng-minlength="6" required placeholder="Min. 6 Character" />

                                    </div>
                                    <div class="clr"></div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-bottom:40px;text-align:right">
                            <div class="form-group">
                                <div class="form-inner12">
                                    <label for="fname" class="left-col control-label"></label>
                                    <div class="right-col mt-org1">
                                        <button type="button" class="btn btn-success custom-btn1 " name="Submit" ng-click="ChangePasswordByAdmin()">Submit</button>
                                        <button type="button" class="btn btn-default custom-btn1" name="Clear" ng-click="Reload()"><i class="pg-close"></i> Clear</button>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>


